/* $Id; */

body.page-media-browser {
  background-color: #fff;
}

div#media-browser-tabs {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 0;
}

body.page-media-browser {
  background-color: #fff;
}


/* show the throbber on the page */
div#media-browser .throbber {
	height:100%;
	width:100%;
	position:absolute;
  background: transparent url('images/loading.gif') no-repeat center center;
}

#media-browser .ui-tabs-panel {
	/**
	 * This sucks, I don't want to hardcode this, but don't know how else
	 * to keep the scrollbar INSIDE the iframe.
	 */
	height: 410px;
	overflow-y: auto;
}