/* @override http://dev7/sites/all/modules/media/css/media-format-form.css?L */

#media-format-form {
  margin:30px;
}

#edit-options {
  margin: 0;
}

#edit-options .form-item-format label {
  display: inline;
}

#media-format-form .media-item {
  float: left;
  margin-left: 0;
  margin-top: 0;
}
