/* @override http://dev7/sites/all/modules/media/css/media.css?L */

/* $Id$ */

/**
 * @file
 * Styles for the media library.
 */

/**
 * Display switch
 */
.item-list .media-display-switch {
  float: right;
  line-height: 0;
}
.item-list .media-display-switch li {
  float: left;
  list-style: none;
  margin-left: -1px;
}
.item-list .media-display-switch li a {
  background: #f2f1f1;
  border: 1px solid;
  border-color: #e4e4e4 #d2d2d2 #b4b4b4 #d3d3d3;
  display: block;
  padding: 7px 9px;
}
.item-list .media-display-switch li.first a {
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
}
.item-list .media-display-switch li.last a {
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
}
.item-list .media-display-switch li a.active {
  position: relative;
  background: #666;
  border: 1px solid #555;
  color: #fff;
}

/* Set the height to auto */
#media_content_browser .media-thumbnail {
  height: auto;
  width: 120px;
}


/* Push content under the tabs */
#media_content_browser_tabs {
  margin-bottom: 30px;
}

/* This is some stuff to just get some basic mockup done on the 
   content navigator. Should be removed/revised soon */
 
.result_limit {
  float: right;
}  
.result_limit li {
   display: inline;
   list-style: none;
}

.item-list .media_content_navigator li {
  display: inline;
  list-style: none;
}

/** This is a massive hack. There must be a better way. See media.fields.inc **/

.media-widget .fid {
  display:none;
}

.media-widget .empty-preview {
  width:110px;
  height:110px;
  text-align: center;
  border: 3px solid #DDD;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.media-widget .empty-preview a {
  display:block;
  margin-top:40px;
}

.media-list-thumbnails .media-item .form-type-checkbox {
  display: none;
}

.media-list-thumbnails .media-item {
  border: 1px solid #CCCCCC;
  display: block;
  float: left;
  margin: 10px;
  padding: 6px;
  width: 100px;
}

.media-list-thumbnails .media-item.selected {
  background: #F4ECC7;
}

.media-item img {
  height: auto;
  width: 100%;
}

.media-item-icons img{
  height:25px;
  width:25px;
  float:left;
}

.media-item .label-wrapper {
  overflow: hidden;
}

.media-item .label-wrapper:hover {
  overflow: visible;
  position: relative;
  z-index: 10;
}

.media-item .media-filename {
  background: #FFF;
  color: #058AC5;
  font-size: 10px;
  padding-right: 8px;
  white-space: nowrap;
}

.media-item.selected .media-filename {
  background: #F4ECC7;
}

.media-item .media-filename:hover {
  text-decoration: underline;
}

.media-modal-frame {
  overflow: hidden;
}
