@CHARSET "UTF-8";

body.page-media-browser {
  background-color: #fff;
}

div#media-browser-tabs {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 0;
}

/* show the throbber on the page */
div#media-browser .throbber {
	height:100%;
	width:100%;
	position:absolute;
  background: transparent url(images/loading.gif) no-repeat center center;
}